# Database - sama dengan backend & news-analytics
DATABASE_URL=postgresql+psycopg2://sris:sris_password@localhost:5432/sris_db

# Kafka - sesuai docker-compose kalian
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_WEATHER=weather_data

# HDFS - sesuai docker-compose kalian
HDFS_HOST=localhost
HDFS_PORT=9000
HDFS_USER=root

# Koordinat Surabaya
LATITUDE=-7.2575
LONGITUDE=112.7521
TIMEZONE=Asia/Jakarta
